# Textfarbe
font_color = (12,58,48)

# Hintergrundfarbe (wenn kein Hintergrundbild vorhanden ist)
#background_color = (0,0,0) # Entspricht schwarz

# Hintergrundfarbe für die Wetteranzeige (wenn kein
# Hintergrundbild für die Wetteranzeige vorhanden ist)
#weather_background_color = (0,32,64) # Dunkelblau

# Startfarbe für Skins/Buttons die Farbwechsel können
# Hierzu muss das jeweilige .svg mit reinem 'cyan' (0,255,255)
# als Zeichenfarbe erzeugt werden.
skin_color = (48,176,160) 

# Wenn ein durchsichtiger Skin verwendet wird kann
# text_on_top auf 'False' gesetzt werden um den Text
# so scheinen zu lassen, als ob er sich unterhalb
# der Skinoberfläche befindet
text_on_top = True

# Wenn 'True' wird die Lesbarkeit von hellem Text auf hellem
# Hintergrund durch einen Schatteneffekt des Textes verbessert
dropshadow = False

# Farbe für den Drop-Shadow Effekt der Texte
# shadow_color = (32, 32, 32) # Dunkelgrau

# Hintergrundbild (png, gif, jpg, ...)
background = "Background.png"	# Pfad relativ zum Skin-Verzeichnis

# Hintergrundbild für die Wetteranzeige
weather_background = "Weather_Background.png" # relativ zum Skin-Verzeichnis

# Weitere Farbeinstellungen
# Farben müssen RGB-Tupel sein
status_color = (48,176,160) # Farbe für die Infozeilen oben und unten
weather_font_color = (12,58,48) # Farbe für die Schrift der Wetteranzeige
clock_font_color = (48,176,160) # für den Uhrenbildschirmschoner

# Schriftart
#skin_font = "/usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf"
skin_font = "/usr/share/fonts/truetype/freefont/FreeSansBold.ttf"
