# Textfarbe
font_color = (0,150,200) # Entspricht 'tron_blue'

# Hintergrundfarbe (wenn kein Hintergrundbild vorhanden ist)
background_color = (0,0,0) # Entspricht 'black'

# Hintergrundfarbe für die Wetteranzeige (wenn kein
# Hintergrundbild für die Wetteranzeige vorhanden ist)
weather_background_color = (0,16,48) # Dunkelblau

# Startfarbe für Skins/Buttons die Farbwechsel können
# Hierzu muss das jeweilige .svg mit reinem 'cyan' (0,255,255)
# als Zeichenfarbe erzeugt werden.
skin_color = (0,150,200) # Entspricht 'tron_blue'

# Wenn 'True' wird die Lesbarkeit von hellem Text auf hellem
# Hintergrund durch einen Schatteneffekt des Textes verbessert
# dropshadow = False

# Farbe für den Drop-Shadow Effekt der Texte
# shadow_color = dark_grey # Dunkelgrau

# Wenn ein durchsichtiger Skin verwendet wird, kann
# text_on_top auf 'False' gesetzt werden um den Text
# so scheinen zu lassen, als ob er sich unterhalb
# der Skinoberfläche befindet
text_on_top = False

# Hintergrundbild
background = "Background.jpg"	# Pfad relativ zum Skin-Verzeichnis

# Hintergrundbild für die Wetteranzeige
weather_background = "Background.jpg" # relativ zum Skin-Verzeichnis

# Weitere Farbeinstellungen
# Farben können entweder RGB-Tupel sein oder im Radio
# vordefinierte Farbnamen (ohne Anführungszeichen)
#status_color = (0,150,200) # Farbe für die Infozeilen oben und unten
#weather_font_color = (255,255,255) # Farbe für die Schrift der Wetteranzeige
#clock_font_color = (89,213,194) # für den Uhrenbildschirmschoner

# Schriftart
#skin_font = "/usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf"
skin_font = "/usr/share/fonts/truetype/freefont/FreeSansBold.ttf"
